<!DOCTYPE HTML>
<html>
    <head>
        <title> Can Counter WebApp </title>

        <style type="text/css">
            {%include "static/main.css"%}
        </style>
        <meta http-equiv="refresh" content="20">
        <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
        <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/pygal-tooltips.js"></script>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
          $(document).ready(function() {
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            $('form#update_can_number').click(function(event) {
                var num_cans = $('#num_cans').val()
                var data = '{ "topic": "rtl5/num_cans", "data": "' + num_cans'", "qos": "0"}'
                socket.emit('update_can_number', data=data)
            });

            socket.on('handle_message', function(data)  {
                $('#log').text( data['msg'] );
            })
          });
        </script>
    </head>
    <body>
        <h1> Can Counter WebApp </h1>
        {{ line_chart.render()|safe }}
        <h2> Data Recieved:  </h2>
        <p> The current temperature is <b><span id="log"></span></b> F </p>
    </body>
</html>
